<div class="container mt-5 d-flex justify-content-center">

  <div class="card border border-warning my-5 py-3">
    <div class="row text-center">
      <h2 class="mt-3">Eat-Da-Burger</h2>
      <iframe src="https://giphy.com/embed/l0K4lPx8bvdbFMdGM" width="150" height="150" frameBorder="0"
        class="giphy-embed"></iframe>

    </div>

    <div class="row justify-content-around mt-3">

      <div class="col-4 text-center">
        <!-- READY -->
        <h4>Ready:</h4>

        <ul class = "readyBurgers mt-2">
          {{#each burgers}}
          {{#unless devoured}}
          {{> burgers/burger-block devoured=false}}
          {{/unless}}
          {{/each}}
        </ul>

      </div>

      <div class="col-4 text-center">
        <!-- search div -->
        <h3>Add A Burger</h3>
        <form class="create-form mt-3">

          <div class="form-group">
            <label for="burger"></label>
            <textarea name="name" id="burger" placeholder="Type your burger's name"></textarea>
          </div>

          <button class="btn btn-warning my-3" type="submit">Add</button>

        </form>
      </div>

      <div class="col-4 text-center">
        <!-- DEVOURED -->
        <h4>Devoured:</h4>

        <ul class="devouredBurgers mt-2">
          {{#each burgers}}
          {{#if devoured}}
          {{> burgers/burger-block devoured=true}}
          {{/if}}
          {{/each}}
        </ul>

      </div>
    </div>

  </div>

</div>